_src/
img/crm-plot3.png
img/sales-Sales-Trends.png
img/sales-net-sales-by-city.png
img/sales-period-comparison.png
img/sales-top-bottom-5-products.png
img/sp-plot2.png
img/upi-column-chart.png
img/upi-line-chart.png
